version: '3.8'
services:
  web:
    image: httpd:2.4
    ports:
      - "80:80"
    volumes:
      - ./www:/var/www/html
      - ./school:/var/www/html/school
      - ./apache/000-default.conf:/usr/local/apache2/conf/httpd.conf
    depends_on:
      - php
  php:
    image: php:8.1-fpm
    volumes:
      - ./www:/var/www/html
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: YanoukTheGod168
      MYSQL_DATABASE: learning
    volumes:
      - db_data:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: YanoukTheGod168
    depends_on:
      - db
volumes:
  db_data:
